.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #39ACE7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

p span {
    margin: 10px;
    cursor: pointer;
}

p span:hover {
    color: rgb(210, 211, 211);
}

mat-icon {
    cursor: pointer;
}

mat-icon:hover {
    color: rgb(210, 211, 211);
}

.right {
    display: flex;
    gap: 15px;
}

