<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="login" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="text" id="confPassword" class="fadeIn third" name="confPassword" placeholder="confirm password">
        <input type="text" id="name" class="fadeIn third" name="name" placeholder="name">
        <input type="text" id="cpf" class="fadeIn third" name="cpf" placeholder="cpf">
        <input type="text" id="phone" class="fadeIn third" name="phone" placeholder="phone">

        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <div routerLink="/login">
            <a class="underlineHover">Log in</a>
        </div>
      </div>
  
    </div>
</div>